*{
    padding: 0px;
    margin: 0px;

}

#titulo{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 30px;
    background-color: blue;
}

ul{
    list-style: none;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
section{
    height: 400px;
    display: flex !Important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1{
    text-align: center;
    font-size: 50px;
}

section p{
    text-align: center;
    font-size: 40px;
    color: black;
}

footer{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}